@import "/fonts/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

:root{
    --black: #191719;
    --grey: #3F3A3A;
    --cream:#F9EDEC;
    --strawberry:#A06069;
    --redbean:#542932;
    --blueraspberry:#85A9CA;
    --gold: #C29131;

    --head-font: Jupiter Pro;
    --font:'Montserrat';
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--head-font);       
}

p,a,ul,li{
    font-family: var(--font), sans-serif;
}

main, footer{
    background-color: var(--black);
    opacity: 85%;
}

html{
    background-image: url(../pics/background_svg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    background-color: var(--grey);
    opacity:100%;
}

body{
    color: var(--cream);
    margin: 0 5rem;
}

a{
    color: var(--blueraspberry);
}

a:visited{
    color: var(--redbean)
}

footer{
    padding: 1rem;
    text-align: center;
}

.menu a{color: var(--gold);}

.container, .wp-block-image{
    padding: 1rem;
}

.header__logo{
    max-width: 5rem;
}

.wp-post-image{width: 90%; height: 90%;}
